@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    
}
/* header banner */
#header{
    background-image: url("../images/banner/banner1.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 150px 0;
}
.banner{
    text-align: right;
    padding: 0 150px;
}
.banner-title {
    font-size: 50px;
}
.descriped{
    font-size: 18px;
    color: gray; 
    margin: 30px 0;
}
.primary-btn{
    background-color: orangered;
    color: whitesmoke;
    border: 0px;
    border-radius: 5px;
    font-size: 16px;
    padding: 15px 25px;
}
/* about section */
.about-section {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 0 150px;
}
.about-section-img img {
    width: 400px;
}
.section-title h3 {
    font-size: 35px;
    font-weight: 700;
}
.section-title p {
    font-size: 15px;
    margin: 20px 0;
}
.section-title ul li {
    list-style-type: none;
    font-size: 15px;
}
.section-title ul li i {
    color: rgb(52, 204, 52);
    margin-right: 10px;
}

/* about plan */

#plans {
    padding: 100px 150px;
}
#plans h2 {
    text-align: center;
}
.about-plans{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.about-plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-plan h2 {
    margin-top: 20px;
    margin-bottom: 5px;
}

/* contact */
.contact {
    padding: 30px 30px;
}
.contact button{
    background-color: rgb(135, 41, 7);
    color: whitesmoke;
    border: 0px;  
}
.contact h2{
    color: whitesmoke;
    font-size: 35px;
    margin-bottom: 15px;
}
.img{
    background-image: url("/images/watch.png");
    border-radius: 10px;
    overflow: hidden;
}
.imgs{
    background-image: url("/images/gradient2.png");
}
#contacts{
    padding: 0px 200px;
}
/* footer  */
/* contact */
.contact-section{
    display: flex;
    gap: 100px;
    padding: 100px 150px;
    margin-top: 80px;
    background-color: black;
    color: whitesmoke;
    justify-content: space-around;
}
.footer-content-left-title{
    text-align: left;
    font-size: 40px;
    margin-bottom: 20px;
}
.footer-content-left p {
    font-size: 14px;
    margin-bottom: 20px;
}
.footer-content-left span {
    font-size: 14px;
}
.contact-title{
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
}
.footer-content-right input {
    width: 250px;
    padding: 15px;
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.552);
    border-radius: 10px;
    margin-bottom: 10px;
}
.contact-section button{
    background-color: orangered;
    color: whitesmoke;
    padding: 10px;
    margin-top: 7px;
}
.contact-section a img{
    margin-top: 15px;
    margin-right: 15px;
   
}
